body {
    background-color: #000000;
    color: #131415;
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    // overflow: hidden;
    // display: grid;
}

// header
.header {
    display: grid;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

.header-content {
    background-image: none !important;
    background-color: #ffffff !important;
}

//   /header 


/* navbar  */

.navbar {

    position: fixed;
    z-index: 1000;
    padding-right: 0;
    top: 0;
    width: 100vw;

    -webkit-transition: background-color .8s;

    -o-transition: background-color .8s;

    transition: background-color .8s;
    -webkit-transition: padding .8s;
    -o-transition: padding .8s;
    transition: padding .8s;

    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 20% 60% 20%;

    padding-top: 50px;

}

.navbar-link {
    margin: 0 2.39583334%;
    font-family: Poppins;
    font-size: 18px;
    font-size: 1.25vw;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
}

.scrolled {
    background-color: RGBA(0, 0, 0, 0.5);
    opacity: 1;
    // z-index: 3000;
    padding: 5px 0;
}

// .scrolled .logo {
//     color: #222222;
// }

// .scrolled .navbar-menu a {
//     color: #222222;
//     opacity: .8;
// }

// .navbar__sandwich-menu {
//     display: none;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//      -ms-user-select: none;
//          user-select: none;
// }

.navbar__sandwich-menu {
    display: none;
    background: #0979f0 url(../images/sandwich-lines.svg) no-repeat 6px 7px;
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 4px;
    right: 16px;
    top: 31px;
}

.navbar__fake-checkbox {
    width: 26px;
    height: 24px;
    opacity: 0;
    z-index: 2;
    position: absolute;
    -webkit-touch-callout: none;
    cursor: pointer;
}

.logo {

    // position: relative;
    // padding-left: 35px;
    // position: absolute;
    // top: 13px;
    // left: 100px;
    margin-left: 50px;
}

.navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button-container {
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.donate-button-small {
    // margin-right: 4.4270833333%;
    margin-right: 85px;
    width: 185px;
    width: 9.635vw;
    // height: 44px;
    // height: 2.291vw;
    line-height: 2.2vw;
    // padding: 9px 55px 10px 56px;
    // padding: 0.468vw 1.342vw;
    border-radius: 10px;
    border: solid 1px #eebe00;
    font-family: Poppins;
    font-size: 18px;
    font-size: 0.937vw;
    font-weight: bold;
    letter-spacing: 1px;
    color: #eebe00;
    background: none;

}

.navbar-mobile-button {

    display: none;
}

//navbar ends

// hero section

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 67.44%;
    justify-items: center;
    justify-self: center;
    align-self: center;
    padding-top: 180px;
    padding-bottom: 60px;
}

.hero-text {
    font-family: Helvetica;
    // font-size: 24px;
    font-size: 1.25vw;
    font-weight: bold;
    letter-spacing: 8px;
    text-align: center;
    color: #f6be00;
    text-transform: uppercase;

}

.hero-heading {
    font-family: Poppins;
    // font-size: 64px;
    font-size: 3.33vw;
    font-weight: bold;
    line-height: 1.31;
    color: #ffffff;
    text-align: center;
    margin-top: 28px;
}

// donate embed window

.gfm-embed {
    margin-top: 79px;
}

.o-campaign-embed-logo,
.o-campaign-embed-logo .ml2x {

    display: none !important;

}

.bottom-arrow {
    margin-top: 138px;
    // width: 2.34vw;
    height: auto;

}



@media only screen and (min-width: 1921px) {
    .navbar{
        width: auto;
        min-width: 1920px;
    }
}

@media only screen and (max-width: 768px) {

    // .bottom-arrow {
    //     width: 2.34vw;
    //     height: auto;
    // }

}


@media only screen and (max-width: 425px) {

    // .main-container {
    //     // overflow: scroll;
    // }

    .navbar__sandwich-menu {
        display: block;
        z-index: 3000;
    }

    .logo {
        margin-left: 16px;
        z-index: 1000;
    }

    .hero {
        padding-bottom: 40px;
        width: 83%;
    }

    .hero-text {
        font-size: 16px;
    }

    .hero-heading {
        font-size: 32px;
    }

    .navbar {
        padding-top: 24px;
        position: absolute;
        top: 0;
    }

    .navbar-menu {
        display: none;
        padding-top: 154px;
    }

    .scrolled {
        padding: 15px 0;
        // padding-top: 24px;
        // padding-bottom: 0;
        // background-color: transparent;
        position: fixed;
        -webkit-transition: padding 0.3s ease;
        -o-transition: padding 0.3s ease;
        transition: padding 0.3s ease;

    }

    .scrolled .navbar__sandwich-menu {
        top: 24px;
        -webkit-transition: top 0.3s ease;
        -o-transition: top 0.3s ease;
        transition: top 0.3s ease;

    }

    .scrolled .navbar-menu {
        position: fixed;
    }

    .button-container {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }

    .donate-button-small {
        display: none;
    }

    .gfm-embed {
        margin-top: 48px;
    }

    .bottom-arrow {
        margin-top: 48px;
    }

    /* mobile drop-down menu  */

    .navbar-menu {

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        width: 100%;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;

        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        opacity: 1;
        padding-bottom: 25px;

    }

    /* show hide dropdown menu */

    #menuToggle input:checked .navbar-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /* mobile drop-down menu links */

    .navbar-menu a {
        line-height: 45px;
        justify-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        // -webkit-transition: color 0.3s ease;
        // -o-transition: color 0.3s ease;
        // transition: color 0.3s ease;


        font-family: Poppins;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: #131415;

        margin-bottom: 29px;

    }


    .navbar-mobile-button {

        display: block;

        margin-top: 55px;
        width: 245px;
        height: 62px;
        // padding: 20px 84px 19px 87px;
        border-radius: 10px;
        border: solid 1px #0979f0;
        background-color: #0979f0;

        font-family: Poppins;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;

        -ms-flex-item-align: center;

        align-self: center;

    }
}